body {
  /* background-image: url('./maxresdefault.jpg'); */
  background-image:url(img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: white;
}

#happy-travels{font-size:40px;font-family: 'Overpass', sans-serif;text-align: center;}
.para{  background-color:#9fccc5;box-shadow: 0 5px 15px rgba(0,0,0,.5) ;border-radius:7px; padding:10px;}

#paragraph{color:black;font-size:20px; font-family: 'Playfair Display', serif;}
#text1{font-size:20px}
#text2{font-size:20px}
#text3{font-size:20px}
#city{margin-right:35px}
.info{ margin-bottom:45px; margin-top:10px }
.back{ margin-top:200px}
  
.weather {
  background-color: rgba(255, 255, 255, 0.0);
}

@media screen and (max-width: 768px) {

  body {
    background-image: none;
    background-color: #65beef;
  }
}
#clear{
  background-color:#606865;
  color:black
}

#happy-travels {
  box-shadow: 0 5px 15px rgba(0,0,0,.5) ;border-radius:7px;
  color:#606865;
  background-color:#e4b9ba
}
#submit{
  background-color:#9fccc5;
  color:black
}
/* #submit{
  color:#fbfcfd;
  padding:10px 25px;
  background:transparent;
  border: 1px solid #fff;
  border-radius:20px;
  outline:none;
  cursor:pointer
} */

.weather{
  color:black;
}