body {
  background-image: url('./maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: white;
}

#happy-travels{font-size:40px;font-family: 'Overpass', sans-serif;}
.para{background-color:rgba(255,255,255,.2);box-shadow: 0 5px 15px rgba(0,0,0,.5) ;border-radius:7px; padding:10px;opacity:.7}

#paragraph{color:black;font-size:20px; font-family: 'Playfair Display', serif;}
#text1{font-size:20px}
#text2{font-size:20px}
#text3{font-size:20px}
#city{margin-right:35px}
.info{ margin-bottom:45px; margin-top:10px }
.back{ margin-top:200px}
  
.weather {
  background-color: rgba(255, 255, 255, 0.0);
}

@media screen and (max-width: 768px) {

  body {
    background-image: none;
    background-color: #65beef;
  }
}

#happy-travels {
  color: pink;
}