body {
  background-image: url('./maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
#happy-travels{font-size:40px}
#paragraph{font-size:20px}
#text1{font-size:20px}
#text2{font-size:20px}
#text3{font-size:20px}
  
.weather {
  background-color: rgba(255, 255, 255, 0.6);
  /* opacity: 0.5; */
}

@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-image: none;
    background-color: #65beef;
  }
  #text1{font-size:20px}
#text2{font-size:20px}
#text3{font-size:20px}
}